{
  "api_keys": {
    "grsai_api": "your_grsai_api_key_here",
    "bltai_api": "your_bltai_api_key_here",
    "147ai_api": "your_147ai_api_key_here",
    "gemini": "your_gemini_api_key_here",
    "gpt_image2_api": "your_gpt_image2_api_key_here",
    "vector_api": "your_vector_api_key_here",
    "grok_image_api": "your_grok_image_api_key_here",
    "vai_api": "your_vai_api_key_here",
    "kk_api": "your_kk_api_key_here",
    "KK_seedream_api": "your_seedream_api_key_key_here",
    "volcengine_seedream_api": "your_volcengine_ark_api_key_here",
    "xku_seedream_api": "your_xku_api_key_here",
    "vector_seedream_api": "your_vector_api_key_here",
    "qwen_image_edit_api": "your_qwen_api_key_here",
    "kieai_qwen3_api": "your_kieai_api_key_here"
  }
}
